.contact {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.contact-p {
    font-size: 20px;
}

.contact-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}

.contact-email {
    cursor: pointer;
    text-decoration: none;
    color: $plain-black;
    font-size: 1.4em;
}

.second-heading {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.icon-linkedin {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../assets/icon/LI-In-Bug.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@include phone-screen {
    .contact h2 {
      font-size: 2.4rem;
      margin: 0.67em;
    }
}
  
  @include medium-screen {  
    .contact h2 {
      font-size: 2.6rem;
    }
  }
  
  @include large-screen {
    .contact h2 {
      font-size: 3rem;
    }

    .contact-email-title, .social-icon-title {
      font-size: 1.5rem;
    }

    .contact-p, .contact-email {
      font-size: 1.8rem;
    }

    .icon-linkedin {
      width: 60px;
      height: 60px;
    }
  }
  
  @include extraLarge-screen {
    .contact h2 {
      font-size: 3.5rem;
      margin: 0.5em;
    }
  }

  @include hd-screen {
    .contact h2 {
      font-size: 4.5rem;
      margin: 0.5em;
    }
  }