@import './base/normalize';
@import './base/basic';
@import './base/breakpoints';
@import './base/mixins';
@import './base/color';

* { 
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background: $orange-base;
    padding: 4vw;
    // need to change later
    overflow: hidden;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.main-wrapper {
  background-color: $container-background;
  border-radius: 20px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

header {
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }
  
  #nav {
    padding: 30px;
  
    ul {
      display: flex;
      justify-content: space-between;
    }
  
    a {
      font-weight: bold;
      color: $plain-black;
  
      &.router-link-exact-active {
        color: $green-text;
        text-decoration: none;
      }
    }
  }
  
  .float-left {
    float: left;
  }
  
  .float-right {
    float: right;
    a {
      text-decoration: underline;
    }
  }
}