header {
    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;
    }
    
    #nav {

      padding: 15px 15px 10px 15px;
    
      ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
      }
    
      a {
        font-weight: bold;
        color: $plain-black;
    
        &.router-link-exact-active {
          color: $green-text;
          text-decoration: none;
        }
      }
    }
    
    .float-left {
      float: left;
    }
    
    .float-right {
      float: right;
      a {
        text-decoration: underline;
      }
    }
}

// add breakpoints for screen
@include phone-screen {
  #nav {
    padding: 20px 25px 10px 25px
  }
}

@include medium-screen {
  #nav {
    padding: 20px;
  }
}

@include large-screen {
  #nav {
    padding: 25px;
  }
}

@include extraLarge-screen {
  #nav {
    padding: 30px;
  }
}

@include hd-screen {
  #nav {
    // padding: 40px;
  }
}